.b-video-index {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  justify-content: center;
  z-index: 20;
  overflow-y: scroll;
}

.b-video-index__container {
  width: 80%;
  margin-top: 5%;
}

.b-video-index__table {
  width: 100%;
  font-weight: 700;
}

.b-video-index__cell {
  border-bottom: 1px solid rgb(46, 50, 57);
}

.b-video-index__cell:last-child {
  text-align: right;
}

.b-video-index__cell:nth-child(4) {
  text-align: center;
}

.b-video-index__sorter {
  cursor: pointer;
}

.b-video-index__sorter:focus {
  outline: 0;
}

.b-video-index__sort-icon {
  width: 1em;
  margin-left: 0.5em;
}

.b-video-index__head {
  font-size: 14px;
  letter-spacing: .16em;
}

.b-video-index__body {
  font-size: 20px;
  line-height: 2em;
}
