@keyframes pulse {
	0% { opacity: 0.5; }
	6% { opacity: 1; }
	20% { opacity: 1; }
	26% { opacity: 0.5; }
	100% { opacity: 0.5; }
}

.b-main-menu {
  height: 100vh;
}

.b-main-menu__list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 5;
}

.b-main-menu__item {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.b-main-menu__item:last-of-type {
  border-bottom: none;
}

.b-main-menu__link {
  display: block;
  margin-left: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5951041667vw;
}

.b-main-menu__item .b-main-menu__link {
  opacity: 0.5;
}
