.b-main-menu {
  height: 100%;
}

.b-main-menu__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 5;
}

.b-main-menu__item {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.b-main-menu__item:last-of-type {
  border-bottom: none;
}

.b-main-menu__link {
  display: block;
  margin-left: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5951041667vw;
}

.b-main-menu__item .b-main-menu__link { animation: pulse 15s infinite; opacity: 0.5; }

.b-main-menu__item:nth-child(1) .b-main-menu__link { animation-delay: 0s }
.b-main-menu__item:nth-child(2) .b-main-menu__link { animation-delay: 3s }
.b-main-menu__item:nth-child(3) .b-main-menu__link { animation-delay: 6s }
.b-main-menu__item:nth-child(4) .b-main-menu__link { animation-delay: 9s }
.b-main-menu__item:nth-child(5) .b-main-menu__link { animation-delay: 12s }


@keyframes pulse {
	0% { opacity: 0.5; }
	6% { opacity: 1; }
	20% { opacity: 1; }
	26% { opacity: 0.5; }
	100% { opacity: 0.5; }
}
