.b-play-pause-button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  width: 7.8540104167vw;
  height: 7.8540104167vw;
  position: absolute;
  z-index: 10;
  top: calc(50% - 3.9270052084vw);
  left: calc(50% - 3.9270052084vw);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.b-play-pause-button:focus,
.b-play-pause-button:active {
  outline: 0;
}

.b-play-pause-button img:focus {
  outline: 0;
}
