.b-video-thumbnail {
  display: block;
  width: 33.333%;
  padding-left: 1.5951041667vw;
  padding-bottom: 2vw;
}

.b-video-thumbnail__wrap {
	height: 13.1640625vw;
	width: 100%;
	overflow: hidden;
}

.b-video-thumbnail__image {
	width: 100%;
	height: 13.1640625vw;
}

.b-video-thumbnail__title {
  font-weight: 700;
  font-size: 0.8333333333vw;
  line-height: 1.375;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.b-video-thumbnail__description {
  font-family: 'Schoolbook', sans-serif;
  font-size: 0.8333333333vw;
  line-height: 1.125;
}

.b-video-thumbnail__time {
  font-family: 'Gothic', sans-serif;
  color: #19212c;
  letter-spacing: .1em;
  font-weight: 700;
}

.thumbnails-scrim {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(43, 53, 65, 0)0%, rgb(77, 90, 106)70%, rgb(77, 90, 106)100%);
}
