.b-homescreen {
  font-size: 1.5625vw;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .1em;
  height: calc(100vh - 2.6041666667vw);
}

.b-homescreen__wrapper {
  height: 100vh;
  position: relative;
}

.b-homescreen__background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 177.777778vh;
  height: 100vh;
}

@media (min-aspect-ratio: 48/27) {
  .b-homescreen__background-video {
    width: 100vw;
    height: 56.25vw;
  }
}

.b-homescreen__error {
  display: block;
  text-transform: none;
  padding: 1.5625vw;
}

.b-homescreen__action {
  display: inline;
  text-decoration: underline;
  -webkit-appearance: none;
  background: none;
  border: 0;
  color: var(--color__link);
  font-size: inherit;
}
