.b-category-screen {
  overflow: hidden;
}

.b-category-screen__main {
  width: 73.4375%;
  float: left;
  padding-top: 5.2083333333vw;
}

.b-category-screen__sidebar {
  width: 25%;
  float: right;
  padding-left: 1.5951041667vw;
}
