.b-category-screen {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  height: 100%;
}

.b-category-screen__main {
  width: 73.4375vw;
  flex: 0 0 73.4375vw;
  padding-top: 5.2083333333vw;
  max-height: 100%;
  overflow-y: scroll;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  background: transparent;
}

.b-category-screen__sidebar {
  width: 25vw;
  flex: 0 0 25vw;
  padding-left: 1.5951041667vw;
}
