/* Defines some base color variables */
:root {
  --color__white: #ffffff;
  --color__grey: #4d5a6a;
  --color__grey--darker: #2b3541;
  --color__black: #000000;

  --color__background: var(--color__grey);
  --color__background--darker: var(--color__grey--darker);
  --color__text: var(--color__white);
  --color__link: var(--color__white);
 }

/* Base body styles */
body {
  font-family: 'Gothic', sans-serif;
  background: var(--color__background);
  color: var(--color__link);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 0.8333333333vw;
  overflow-y: scroll; /* prevent jumps when the scrollbar is added */
}

/* Helper to make the background black on the body on the video pages */
.h-dark-background {
  background: var(--color__black);
}

/* Nicer default for box-sizing */
* {
  box-sizing: border-box;
}

/* Default link styling */
a {
  color: var(--color__link);
  text-decoration: none;
}

/* Remove focus states - not great, but probably doesn't matter on a kiosk */
a:focus,
button:focus {
  outline: none;
}

/* Helper class for hidden, accessibility text */
.h-screen-reader {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* Fade helper classes */
.fade-fast-leave {
  opacity: 1;
}
.fade-fast-leave.fade-fast-leave-active {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.fade-fast-enter {
  opacity: 0;
}
.fade-fast-enter.fade-fast-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.fade-fast-height {
  transition: width .5s ease-in-out;
}
