.b-slider {
  border: 0 none;
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.b-slider__track {
  border-radius: 5px;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.b-slider__progress {
  border-radius: 5px;
  position: absolute;
  height: 5px;
  left: 0;
  background-color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.b-slider__thumb {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-size: 21px 21px;
  background-position: 0px 0px;
  background-color: white;
  position: absolute;
  padding: 0;
  margin: 0;
  text-align: center;
  pointer-events: none;
  transform: translateX(-50%);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.b-slider__input {
  position: absolute;
  overflow: visible;
  opacity: 0.01;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
  z-index: 101;
  cursor: pointer;
}

.b-slider__input:focus {
  outline: none;
}

.b-slider__input,
.b-slider__input::-moz-range-track,
.b-slider__input::-ms-track {
  width: 100%;
  height: 100%;
  -moz-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

.b-slider__input:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

.b-slider__input::-webkit-slider-thumb,
.b-slider__input::-moz-range-thumb,
.b-slider__input::-ms-thumb {
  -webkit-appearance: none;
  outline: none;
  background-color: transparent;
  width: 21px;
  height: 21px;
}

.b-slider__input::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

.b-slider__input::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}
